@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=latin-ext");

@keyframes backgroundChange {
  0% {
    background: red;
    transform: scale(1);
  }
  43% {
    background: green;
    transform: scale(2);
  }
  77% {
    background: yellow;
    transform: scale(1);
  }
  100% {
    background: red;
    transform: scale(2);
  }
}

html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #f30a0a;
  background: #12b987;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  max-width: 544px;
  width: 100%;
  position: relative;
}

.header {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
}

.form {
  &__actions {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    border: 1px solid #121232;
    border-radius: 4px;
    padding: 16px;
    min-width: 160px;
    font-weight: 600;
    letter-spacing: 0.5px;
    &--save {
      background: yellow;
      transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
      will-change: background;
      transition: all 1s linear;
      &:hover {
        background: red;
        color: white;
        transform: scale(1.1);
      }
    }
    &--load {
      background: lightblue;
      transition: all 1s linear;
      &:hover {
        background: greenyellow;
        color: hotpink;
        transform: rotate(10deg) translateY(-5px) translateX(-5px) scale(2);
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__label {
    color: black;
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
  }
  &__message {
    width: 100%;
    border-radius: 8px;
    background: #fff;
    mix-blend-mode: color-dodge;
    border: 2px solid #000000;
    min-height: 350px;
    padding: 12px;
    transition: background 2s ease-out 1s;
    &:hover {
      background: lightsalmon;
    }
  }
}

// .test {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 50px;
//   height: 50px;
//   background: purple;
//   transition: transform 1s ease-in-out, width 1s ease-out ;
//   &:hover {
//     transform: rotate(45deg) translateY(-20px) translateX(-20px);
//     width: 70px;
//   }
// }

.test {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: purple;
  animation: backgroundChange 5s ease-in-out infinite forwards;
}
